body{
  background: #f8f8f8;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  color: #333;
}

.container{
  width: 90%;
  margin: 0 auto;
}

header h1{
  font-size: 28px;
  font-weight: normal;
}

#open_menu{
  float: right;
  font-size: 24px;
  cursor: pointer;
}
